{% extends "base.html" %}

{% block body %}


    <h1 class="teacher">{{poll.title}}</h1>
    <hr>
    <br/>
    {% for q in poll.question_collection %}
        <div class="master">
        <div class="titleandesc">
        <h3 class="titleandesc">{{q.title}}</h3>
        <h4>{{q.description}}</h4>
        </div>
        <br/>

        <ul>
            <div class="submaster">
            {% for qo in q.question_option_collection%}
                <div class="contentdesc">
                <li>
                    <p>{{qo.description}}</p>
                </li>
                </div>
            {% endfor %}
            </div>
        </ul>
        <div class="chart pie" data-path="/visres/data/votes" data-type="pie" data-label="Votes"></div>
        <div class="clean"></div>
        </div>
    {% endfor %}

{% endblock %}

