
<!DOCTYPE html>
<html lang="es">
<head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>EGC</title>
 
    <link href="http://allfont.es/allfont.css?fonts=chintzy-cpu-brk" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/visres/static/css/estilosMedia.css">
    <link rel="stylesheet" href="/visres/static/css/vr.css">


    <script src="/visres/static/js/jquery-3.2.1.min.js"></script> 
   
	<script> 
	    $(function(){
	      console.log( "ready!" );
	      $("#header").load("/visres/static/header.html"); 
	    });
    </script> 

	
</head>

<body>
	<div id="header"></div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

	{% block body %}{% endblock %}

   
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
    
    <!-- My javascripts -->
    <script src="/visres/static/js/charts-utils.js"></script>


</body>
</html>